#######
# all #
#######


#Logs
*.log


##################################################################################################################################

###########
# eclipse #
###########

#Folders
**/target/**
**/logs/**
**/.settings/**
.metadata

#Files
*.jar
*.war
*.ear
*.class
*.lst
*.classpath
*.project

##################################################################################################################################

###############
# visusalcode #
###############

**/package-lock.json